/*
Red = #FFB4B0  
Blue = #4DD7FA  
Light yellow = #FEFAC0  
Dark yellow = #785616
*/

body {
    font-family: 'Arial', sans-serif;
    font-size: .85em;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
/*Tried to do body { margin 960px and it broke my floats*/
nav {
    background: #FFB4B0;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 30px;
    width: 99%%;
}

nav li {
    
    list-style-type: none;
    float: left;
    border-right: 5px;
    margin: -8px 10px 2px 5px;
}
/*FLEXBOX CONTAINER*/
.container { 
    display: flex;
    flex-direction: row;
}
/*FLEXBOS CONTAINER*/
.formSelector {
    display: inline-flex;
    flex: 0 1 auto;
    align-self: flex-start;
    order: 1;
    margin: 0 auto;
    background: #4DD7FA;
    border: 2px solid black;
    min-width: 180px;
    padding: .5%;
    margin-right: .5%;
    height: 382px;
    width: 20%;
}
/*FLEXBOX CONTAINER*/
.songInfoBox {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 1;
    order: 2;
    background: #FEFAC0;
    margin: 0 auto;
    border: 2px solid black;
    padding: 0 0 20px 20px;
    margin-left: 2%;
    width: 70%;
    height: 394px;
}
.song {

}

.songLength {
    display: block;
    width: 95%;
}

.dropDown input{
    display: block;
    margin-bottom: 3px;
    width: 95%;
}

.checkBox {
    margin-top: 10px;
}

.checkBoxLabel {
    margin-top: 15px;
    margin-bottom: 5px;

}
.checkBoxLeft {
    float: left;
    line-height: 2;
}

.checkBoxRight {
    float: right;
    line-height: 2;
}

.filterbutton {
    clear: both;
    margin: 1% 5% auto;
}

.filter {
    
    text-align: center;
    width: 100px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 5px;
}

.songInfoBox h2 {
    color: #785616;
    font-size: 26px;
    font-weight: 200;
}

.song p {
    display: inline;
    
}